<html>
  <head>
    <title> Newark DOE </title>

    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css'></link>
    <link href="/static/stylesheets/main.css" rel="stylesheet"></link>

    <script src='/vendor/angular/angular.js'></script>
    <script src='/static/myscript.js'></script>

  </head>
  <body>

  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">

        <ul class="nav nav-tabs">
          <li role="presentation"><a href="#">Newark Department of Education</a></li>
          <li role="presentation" class="active"><a href="/">Priorities</a></li>
          <li role="presentation"><a href="#">Cory Booker Senatorial Fun Zone</a></li>
        </ul>

        </div>
      </div>
  </nav>
  <div ng-app="newark">

    <h1> Newark Department of Education </h1>
    <h3> Priority Manager </h3>


      <div id="topForm">
        <form ng-controller="add">
          <div class="form-group row">
            <label class="col-sm-2" for="name">Name</label>
            <input  class="col-sm-4" type="text" class="form-control" ng-model="task.name" value="lead free water?">

            <button ng-click="update(task)" class="btn btn-primary">Add Goal</button>
          </div>
          <div class="form-group row">
            <label class="col-sm-2" for="weight">priority weight</label>
            <input class="col-sm-6" type="text" class="form-control" ng-model="task.weight" value="#">
          </div>
        </form>
      </div>

    <div class="col-xs-10">

    <table class='table' id="hello" ng-controller="newark-task" >
        <thead>
            <tr>
                <th>up</th>
                <th>down</th>
                <th>task</th>
                <th>Priority Index</th>
                <th>done</th>
            </tr>
        </thead>
        <tbody>
           <tr ng-repeat="x in tasks">
                  <td>
                      <button class="btn btn-default btn-xs" ng-click='up(x)'>
                          <span class="glyphicon glyphicon-plus"></span>
                      </button>
                  </td>
                  <td>
                      <button class="btn btn-default btn-xs" ng-click='down(x)'>
                          <span class="glyphicon glyphicon-minus"></span>
                      </button>
                  </td>

                    <td>{{x.taskname}}</td>
                     <td>{{x.pNumber}}</td>
                  <td>
                      <button class="btn btn-default btn-xs" ng-click='remove(x)'>
                          <span class="glyphicon glyphicon-remove"></span>
                      </button>
                  </td>
            </tr>

            <tr class="sad">
                <td>
                    <button class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>
                <td>
                    <button class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </td>

                  <td>Fix the poisonous water</td>
                   <td>if time permits</td>
                  <td>
                      <button class="btn btn-default btn-xs">
                          <span class="glyphicon glyphicon-remove"></span>
                      </button>
                  </td>

            </tr>

        </tbody>
    </table>


</div>
  </div>
  </body>
</html>